<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Output</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<header>
    <h1>Game Output</h1>
</header>

<section id="output">
    <div class="container">
        <h2>Game Output:</h2>
        <pre>{{ result }}</pre>
        <a href="{{ url_for('index') }}">Back to Home</a>
    </div>
</section>

<footer>
    <p>&copy; 2024 Python Gaming. All rights reserved.</p>
</footer>

</body>
</html> -->
